<!DOCTYPE html>
<html>
  <head>
    <title>SkookumChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav>
    <div class="nav-wrapper green darken-1">
      <a href="" class="brand-logo center">Bookshelf</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      </ul>
    </div>
  </nav>

<div class="container" style="margin-top: 200px;">
<div class="row valign-wrapper">
<div class="col s12">

  <%= yield %>

</div>
</div>
</div>



  </body>
</html>
